<div class="overflow-hidden w-full max-w-full flex self-start ">
    <div class="flex animate-scroll">
        <div 
            class="h-[25vh] rounded-lg w-[30vw] overflow-hidden mr-8" 
            *ngFor="let color of colorsRand" 
            [ngClass]="color"
        >
        </div>
    </div>

    <div class=" flex animate-scroll ">
        <div 
            class="h-[25vh] rounded-lg w-[30vw] overflow-hidden mr-8" 
            *ngFor="let color of colorsRand" 
            [ngClass]="color"
        >
        </div>
    </div>
</div>

  
